*{
    --color-background: #1e2127;
    --color-menu: #161719;
    --color-body: #292a2d;
    --color-header: #c42b6f;
    --color-font: #e3e3e3;
    --color-btn: #ff4530;
    padding: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    color: #cfcdc9;
}
body{
    background: var(--color-background);
}
    main{
        height: auto;
        margin: 50px;
        width: 900px;
        background: var(--color-menu);
        padding: 50px;
        font-size: 25px;
        border-radius: 5px;
    }

        h1{
            text-align: center;

        }

        form{
            margin-top: 40px;
        }
            .formularios{
                background: var(--color-background);
                width: 22%;
                height: 100px;
                margin: 5px;
                border-radius: 5px;
                font-size: 20px;
                text-align: center;
            }
            .boton{
                background: var(--color-header);
                width: 48%;
                height: 100px;
                margin: 5px;
                border-radius: 5px;
                font-size: 30px;
                text-align: center;
            }