*{
    --color-background: #1e2127;
    --color-menu: #161719;
    --color-body: #292a2d;
    --color-header: #c42b6f;
    --color-font: #e3e3e3;
    --color-btn: #ff4530;
    padding: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    color: #cfcdc9;
}
body{
    background: var(--color-background);
}