@import url("../css/variables.css");
@import url("../css/layout.css");
@import url("../css/grid.css");

.input-horas{
    background: var(--color-background);
    height: 60px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
.input-minutos{
    background: var(--color-background);
    height: 60px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
.input-segundos{
    background: var(--color-background);
    height: 60px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}