main{
    display: grid;
    grid-column: 1fr;
    grid-row: 3;
    grid-gap: 20px;
}
    .cuerpo{
        display: grid;
        grid-row: span 3;
        grid-template-rows: subgrid;
        grid-template-columns: subgrid;
    }
form{
    display: grid;
    grid-column: auto;
    grid-row: 3fr;
}
