main{
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr 1fr;
    grid-gap: 20px;
}
    .cuerpo{
        display: grid;
        grid-row: span 3;
        grid-template-rows: subgrid;
        grid-template-columns: subgrid;
    }
form{
    display: grid;
    grid-column: auto;
    grid-row: 3fr;
}
#input{
    display: grid;
    flex-wrap: nowrap;
    grid-column: 1;
    grid-row: 2;
    grid-template-rows: subgrid;
    grid-gap: 30px;
}
